<div class="bg-white text-black p-4 shadow-md mb-6 rounded-lg">
  <h1 class="text-2xl font-bold">Budgets</h1>
</div>


<!-- Add Budget Tile -->
<li class="mb-2">
  <div (click)="accounts.length > 0 && addBudget()" [class.cursor-pointer]="accounts.length > 0" [class.cursor-not-allowed]="accounts.length === 0" [class.bg-gray-400]="accounts.length === 0" class="p-4 bg-white shadow rounded flex items-center">
    <div class="mr-2">
      <fa-icon [icon]="faPlusCircle" [class.text-green-500]="accounts.length > 0" [class.text-gray-500]="accounts.length === 0"></fa-icon>
    </div>
    <div class="font-semibold">Add Budget</div>
  </div>
</li>


<!-- <ul>
  <li *ngFor="let budget of budgets" class="mb-2">
    <div class="p-4 bg-white shadow rounded flex items-center justify-between cursor-pointer" (click)="viewBudget(budget.id)">
      <div>
        <div class="font-semibold">{{ budget.name }}</div>
        <div>{{ budget.allocatedAmount | currency }}</div>
      </div>
    </div>
  </li>
</ul> -->

<ul>
  <li *ngFor="let budget of budgets" class="mb-2">
    <div class="p-4 bg-white shadow-lg rounded-lg flex flex-col cursor-pointer relative budget-tile"
         (click)="viewBudget(budget.id)">
      <div class="progress-bar"
           [ngStyle]="{
             'width': getBudgetExpenditurePercentage(budget) + '%',
             'background-color': getProgressBarColor(budget)
           }"></div>
      <div class="mb-2 z-10">
        <div class="font-semibold">{{ budget.name }}</div>
        <div>{{ budget.allocatedAmount | currency }}</div>
      </div>
      <div class="text-right text-sm text-gray-600 mt-1 z-10">{{ getBudgetExpenditurePercentage(budget).toFixed(2) }}% expended</div>
    </div>
  </li>
</ul>

<!-- Add Budget Modal -->
<div *ngIf="isAddBudgetModalOpen" class="fixed inset-0 flex items-center justify-center bg-gray-900 bg-opacity-50 z-20">
  <div class="bg-white p-6 rounded shadow-lg">
    <h2 class="text-xl font-bold mb-4">Add Budget</h2>
    <form [formGroup]="budgetForm" (ngSubmit)="onSubmit()">
      <div>
        <label for="name">Name</label>
        <input id="name" formControlName="name" class="border p-2 mb-4 w-full">
      </div>
      <div>
        <label for="allocatedAmount">Allocated Amount</label>
        <input id="allocatedAmount" formControlName="allocatedAmount" type="number" class="border p-2 mb-4 w-full">
      </div>
      <div class="flex justify-end space-x-2">
        <button type="button" (click)="closeAddBudgetModal()" class="bg-gray-500 text-white p-2 rounded">Cancel</button>
        <button type="submit" [disabled]="!budgetForm.valid" class="bg-blue-500 text-white p-2 rounded">Add Budget</button>
      </div>
    </form>
  </div>
</div>
