/* sidebar.component.css */

.sidebar-container {
    position: sticky; 
    top: 0; 
    display: flex;
    flex-direction: column;
    height: 100vh; 
    overflow-y: auto;
  }
  
  .nav-links {
    flex-grow: 1; 
    overflow-y: auto; 
  }
  