<div class="min-h-screen flex items-center justify-center bg-gray-100">
  <div class="bg-white p-8 rounded-lg shadow-md w-full max-w-md">
    <h2 class="text-2xl font-bold mb-6 text-center">Register</h2>
    <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
      <div class="mb-4">
        <label for="email" class="block text-gray-700">Email</label>
        <input id="email" formControlName="email" class="w-full p-2 border border-gray-300 rounded mt-1" type="email">
      </div>
      <div class="mb-4">
        <label for="password" class="block text-gray-700">Password</label>
        <input id="password" formControlName="password" class="w-full p-2 border border-gray-300 rounded mt-1" type="password">
      </div>
      <div class="mb-6">
        <label for="confirmPassword" class="block text-gray-700">Confirm Password</label>
        <input id="confirmPassword" formControlName="confirmPassword" class="w-full p-2 border border-gray-300 rounded mt-1" type="password">
      </div>
      <button type="submit" class="w-full bg-green-500 text-white py-2 rounded hover:bg-green-700 transition duration-200" [disabled]="!registerForm.valid">Register</button>
      <div class="mt-4 text-center">
        <p class="text-gray-600">Already have an account? <a routerLink="/login" class="text-blue-500 hover:underline">Login</a></p>
      </div>
    </form>
  </div>
</div>
